#container{min-width:1220px}#content .contact-form
LABEL{display:block !important}#commentform
LABEL{display:block !important}img{max-width:100%}ul.post-list
.thumbnail{max-width:none}.entry-content .image-area
img{max-width:none}.client-info .image-area
img{max-width:100%}.divider-fancy{float:left}.info,.note,.tip,.errors,.warning,.attention,.success{position:relative}#primary-menu li
a{min-width:1px}.nivo-caption{filter:alpha(opacity=6);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important}#retina-text{background:#fff200}.threecol.dual-margin,.fourcol.dual-margin,.sixcol.dual-margin{padding-right:1.4% !important;padding-left:1.4% !important;margin:0}.image-info{background:#dc4637}.image-info a.lightbox-link{background-color:#666}.entry-header
.published{padding:12px}.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item{max-width:none}.gallery
img{width:auto}.gallery-caption{background:#000;filter:alpha(opacity=0)}.gallery-item:hover .gallery-caption{filter:alpha(opacity=70)}