{% assign currentAuthor = site.data.authors[page.author] %}
	{% if currentAuthor %} 
		{% assign authorName = currentAuthor.name %}
		{% assign authorDescription = currentAuthor.description %}
		{% assign authorAvatar = currentAuthor.avatar %}
	{% endif %}

    <div id="title-area" class="clearfix"><div class="inner">    
        <h1 class="loop-title fn n">{{authorName}}</h1>
        <div class="loop-description">
            <img alt='{{authorName}}' src='{{authorAvatar}}' srcset='{{authorAvatar}}' class='avatar avatar-50 photo' height='50' width='50' />
            <p class="user-bio">
                {{authorDescription}}            </p><!-- .user-bio -->
        </div><!-- .loop-description -->

    </div><!-- .loop-meta -->

</div></div> <!-- title-area -->