
    <div id="footer">

        <div class="inner">

            
            <div id="sidebars-footer" class="clearfix">

                <div id="sidebar-footer1" class="sidebar clearfix fourcol">
                <div id="mo-recent-posts-widget-2" class="widget recent-posts-widget widget-recent-posts-widget">
                <div class="widget-wrap widget-inside">
                <h3 class="widget-title"><span>Recent Posts</span></h3>
                <ul class="post-list small-size">
                {% assign posts = site.posts | sort:'date' %}
                {% assign recentPosts = posts | reverse %}
                {% for post in recentPosts limit:4 %}
                 <li>
                  {% include recent-post.html %}
                 </li>
                 {% endfor %}
                </ul>
            </div></div></div>
            
            <div id="sidebar-footer2" class="sidebar clearfix fourcol">
            <div id="mo-social-networks-widget-3" class="widget social-networks-widget widget-social-networks-widget">
            <div class="widget-wrap widget-inside">
            <h3 class="widget-title"><span>Find us online</span></h3>
            <ul class="social-list clearfix"><li><a class="facebook" href="{{site.facebook_account}}" target="_blank" title="Follow us on Facebook">Facebook</a></li>
            <li><a class="twitter" href="{{site.twitter_username}}" target="_blank" title="Subscribe to our Twitter Feed">Twitter</a></li>
            <li><a class="youtube" href="{{site.youtube_account}}" target="_blank" title="Subscribe to our YouTube channel">YoutTube</a></li>
            <li><a class="googleplus" href="{{site.google_account}}" target="_blank" title="Follow us on Google Plus">Google+</a></li></ul>
            
            </div></div><div id="text-10" class="widget widget_text widget-widget_text">
            <div class="widget-wrap widget-inside"><h3 class="widget-title"><span>Links</span></h3>			
            <div class="textwidget"><a href="{{site.baseurl}}/sitemap/">Sitemap</a></div>
		
		</div></div></div><div id="sidebar-footer3" class="sidebar clearfix fourcol last">
		<div id="tp_widget_recent_tweets-2" class="widget widget_tp_widget_recent_tweets widget-widget_tp_widget_recent_tweets">
		<div class="widget-wrap widget-inside">
		<h3 class="widget-title"><span>Recent Tweets</span></h3>
		<a class="twitter-timeline" data-height="400" data-chrome="transparent noheader noborders nofooter" data-tweet-limit="4" data-dnt="true" data-theme="dark" data-link-color="#E95F28" href="https://twitter.com/jimulabs">Tweets by jimulabs</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>		</div>
		</div>
							
            </div>
            <!-- #sidebars-footer -->
            
        </div>

    </div>  <!--#footer-->

    

<div id="footer-bottom">

    <div class="inner">

        <div id="footer-bottom-text">© Copyright 2015 jimu Labs Inc.  All rights reserved.</div>
        <a id="go-to-top" href="#" title="Back to top">Go Top</a>
    </div>

</div><!-- #footer-bottom -->