    	<div class="entry-snippet">
    	    <h2 class="entry-title">
    			<a href="{{site.baseurl}}{{currentPost.url}}" title="{{currentPost.title}}">{{currentPost.title}}</a>
    		</h2>
    		 {% include post-header.html %}
    		 <div class="entry-text-wrap nothumbnail">
    		 <div class="entry-summary"> {{ currentPost.excerpt }} </div>
    		</div>
    		<span class="read-more">
    		<a class="button default" href="{{site.baseurl}}/{{currentPost.url}}" title="{{currentPost.title}}">Read More</a></span>
    		<br>
    		<br>
    		
    	</div> <!-- .entry-snippet -->    
    	
    	
