<div class="entry-text-wrap nothumbnail">
	<div class="entry-title"><a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}" rel="bookmark">{{post.title}}</a></div>
	<div class="byline">
	<span class="published">On: <a href="{{site.baseurl}}/{{post.year}}/{{post.month}}/hello" title="{{post.date}}"> {{ post.date | date: "%b %-d, %Y" }} </a></span>
<div class="entry-summary"> {{post.excerpt | strip_html | slice: 0, 50 | append: '...' }}
</div><!-- entry-summary -->
</div><!-- entry-text-wrap -->