    <div id="breadcrumbs"><a href="{{site.baseurl}}/">Home</a>
     {% assign urlParts = page.url | split: "/" %}
     {% assign currentUrl = site.baseurl %}
     {% assign baseUrl = site.baseurl || remove: "/" %}
     {% for i in urlParts %}
     	{% if i == "" or i == "posts" or i == baseUrl or i == "author" %}
     	  {% continue %}
     	{% elsif i == urlParts.last %}
     	  {% break %}
     	{% else %}
     	<span class="sep"> / </span>
     	{% assign newUrl =  currentUrl || append: "/" || append:i %}
     	{% if i == "mirror-docs" %}
     	<a href="{{newUrl}}">Documents</a>
     	{% else %}
     	<a href="{{newUrl}}">{{i}}</a>
     	{% endif %}
     	{% assign currentUrl =  newUrl %}
     	{% endif %}
     {% endfor %}
<span class="sep"> / </span> {{ page.title }} </div> <!-- #breadcrumbs -->