<html>

  {% include header.html %}
  
  <body> 
 
    <div id="main" class="clearfix">

        
        <div class="inner clearfix">

<div id="content" class="twelvecol ">

    
    	<div id="post-592" class="post-592 page type-page status-publish hentry">
    
  			<div class="entry-content clearfix">
  				<div id="panel12" class="segment clearfix "><div class="segment-content">
<h2>{{ page.articleTitle }}</h2>
{{ content }}
</div></div><!-- .segment-->
  			</div><!-- .entry-content -->
  
    	</div><!-- .hentry -->
    
  
</div><!-- #content -->

</div><!-- #main .inner -->


</div><!-- #main -->
</body>
</html>


